<script src="../../../../../../006/RM_BQ_EV200_006/src/app/components/double_charge_switch/double_charge_switch.component.ts">


</script>
<!-- <div class="ignition-switch cursor-pointer" (click)="dashboardShowOrHide(1)" >
    <div class="ignition"></div>
</div> -->




<div class="dashboard-body">
  <span *ngIf='this.dashboardService.Mint.In1NER_IgnKey_ON_x_x == "1"&&
  (this.appService.progressData.describeFlag===2||
  this.appService.progressData.describeFlag===12||
  this.appService.progressData.describeFlag===13||
  this.appService.progressData.describeFlag===11||
  this.appService.progressData.describeFlag===21||
  this.appService.progressData.describeFlag===22||
  this.appService.progressData.describeFlag===23||
  (this.appService.progressData.describeFlag == 14 && (this.appService.skillFault01IsGood == "0"||this.appService.skillFault01IsGood == "10")) || 
  (this.appService.progressData.describeFlag == 24 && (this.appService.examFault01IsGood == "0"||this.appService.examFault01IsGood == "10")))'
    style='display: block;
    height: 20px;
    width: 100px;
    position: absolute;
    left: 150px;
    top: 5px;
    text-align: center;
    background-color: #000;
    line-height: 30px;
    color: red;
    font-size: 12px;'>
    驱动电机故障
  </span>
  <span *ngIf='this.dashboardService.Mint.In1NER_IgnKey_ON_x_x == "1"&&
  (this.appService.progressData.describeFlag===16||
  this.appService.progressData.describeFlag===17||
  this.appService.progressData.describeFlag===15||
  (this.appService.progressData.describeFlag == 18 && (this.appService.skillFault02IsGood == "0"||this.appService.skillFault02IsGood == "10")))'
    style='display: block;
    height: 20px;
    width: 100px;
    position: absolute;
    left: 140px;
    top: 6px;
    text-align: center;
    background-color: #000;
    line-height: 30px;
    color: red;
    font-size: 12px;'>
    绝缘故障
  </span>

  <div class="close cursor-pointer" (click)="dashboardShowOrHide(0)">X</div>
  <div class="pointer-left"></div>
  <div class="pointer-right"></div>
  <div class="ignition"></div>
  <div *ngIf='(this.appService.progressData.describeFlag===2||
    this.appService.progressData.describeFlag===11||
    this.appService.progressData.describeFlag===12||
    this.appService.progressData.describeFlag===13||
    this.appService.progressData.describeFlag===15||
    this.appService.progressData.describeFlag===16||
    this.appService.progressData.describeFlag===17||
    this.appService.progressData.describeFlag===21||
    this.appService.progressData.describeFlag===22||
    (this.appService.progressData.describeFlag == 14 && (this.appService.skillFault01IsGood == "0"||this.appService.skillFault01IsGood == "10")) || 
    (this.appService.progressData.describeFlag == 18 && (this.appService.skillFault02IsGood == "0"||this.appService.skillFault02IsGood == "10")) || 
    (this.appService.progressData.describeFlag == 24 && (this.appService.examFault01IsGood == "0"||this.appService.examFault01IsGood == "10")))'
    class="datashow">0</div>

  <div *ngIf='(this.appService.progressData.describeFlag!==11&&
  this.appService.progressData.describeFlag!==12&&
  this.appService.progressData.describeFlag!==13&&
  this.appService.progressData.describeFlag!==15&&
  this.appService.progressData.describeFlag!==16&&
  this.appService.progressData.describeFlag!==17&&
  this.appService.progressData.describeFlag!==21&&
  this.appService.progressData.describeFlag!==22&&
  this.appService.progressData.describeFlag!==23&&
  this.appService.progressData.describeFlag!==2)&&
  (this.appService.progressData.describeFlag==1||
  this.appService.progressData.describeFlag==3||
  this.appService.progressData.describeFlag==4||
  this.appService.progressData.describeFlag==5||
  this.appService.progressData.describeFlag==6||
  this.appService.progressData.describeFlag==7||
  this.appService.progressData.describeFlag==8||
  this.appService.progressData.describeFlag==9||
  this.appService.progressData.describeFlag==10||
  this.appService.progressData.describeFlag==9||
  (this.appService.progressData.describeFlag==14&&this.appService.skillFault01IsGood == "1")||
  (this.appService.progressData.describeFlag==18&&this.appService.skillFault02IsGood == "1")||
  this.appService.progressData.describeFlag==19||
  this.appService.progressData.describeFlag==20||
  (this.appService.progressData.describeFlag==24&&this.appService.examFault01IsGood == "1"))' class="datashow" name='show'>{{dashboardService.Mout.Out1DrMotor_x_VehSpeed_x_x}}</div>
  <div class="gear-stalls">N</div>
  <div class="dashborad-screen"></div>

  <div class="lock-stalls cursor-pointer" (click)="stallsAngle(1)"></div>
  <div class="on-stalls cursor-pointer" (click)="stallsAngle(2)"></div>


  <div class="light">
    <div class="abs " *ngIf="(dashboardService.Mout.Out1NER_x_LED_ABS_Jud=='1')"></div>
    <div class="airbag " *ngIf="(dashboardService.Mout.Out1NER_x_LED_SafeBag_Jud=='1')"></div>
    <div class="parking " *ngIf="(dashboardService.Mout.Out1NER_x_LED_BrakLamp_Jud=='1')"></div>
    <div class="qudianjifault" *ngIf='this.dashboardService.Mint.In1NER_IgnKey_ON_x_x == "1"&&(this.appService.progressData.describeFlag===2||this.appService.progressData.describeFlag===12||this.appService.progressData.describeFlag===11||this.appService.progressData.describeFlag===13||this.appService.progressData.describeFlag===21||this.appService.progressData.describeFlag===22||this.appService.progressData.describeFlag===23||
    (this.appService.progressData.describeFlag == 14 && (this.appService.skillFault01IsGood == "0"||this.appService.skillFault01IsGood == "10")) || 
    (this.appService.progressData.describeFlag == 24 && (this.appService.examFault01IsGood == "0"||this.appService.examFault01IsGood == "10")))'></div>

    <div class="resfault" *ngIf='this.dashboardService.Mint.In1NER_IgnKey_ON_x_x == "1"&&
    ((this.appService.progressData.describeFlag===16||this.appService.progressData.describeFlag===15||this.appService.progressData.describeFlag===17)||
    (this.appService.progressData.describeFlag == 18 && (this.appService.skillFault02IsGood == "0"||this.appService.skillFault02IsGood == "10")))'></div>
  </div>
</div>
