.dashboard-body {
  z-index: 100;
  width: 400px;
  height: 180px;
  background: url(./images/dashboard_bg.png) no-repeat;
  background-size: 100%;
  position: absolute; 
  bottom: 0px;
  left: 1rem; //   display: none;
}

.dashboard-body .pointer-left {
  width: 43px;
  height: 60px;
  background: url('./images/dashboard_pointer.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 55px;
  left: 42px;
}

.dashboard-body .pointer-right {
  width: 48px;
  height: 66px;
  background: url('./images/dashboard_pointer.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 49px;
  left: 316px;
}

.dashboard-body .ignition {
  width: 37px;
  height: 37px;
  background: url('./images/dashboard_ignition.png') no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  bottom: 19px;
  left: 185px;
}

.dashboard-body .datashow {
  position: absolute;
  top: 50px;
  left: 168px;
  font-size: 26px;
  color: #fff;
  line-height: 30px;
}

.ignition-switch {
  z-index: 10;
  width: 73px;
  height: 73px;
  background: url('./images/ignition_switch.png') no-repeat;
  position: absolute;
  bottom: 58px;
  right: 64px;
}

.ignition-switch .ignition {
  width: 71px;
  height: 71px;
  background: url('./images/ignition.png') no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}

.dashboard-body .dashborad-screen {
  width: 204px;
  height: 112px;
  background: url('./images/dashborad_screen.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 101px;
}

.lock-stalls {
  width: 15px;
  height: 15px;
  background: transparent;
  position: absolute;
  top: 126px;
  left: 172px;
  cursor: pointer;
}

.on-stalls {
  width: 15px;
  height: 15px;
  background: transparent;
  position: absolute;
  top: 114px;
  left: 198px;
  cursor: pointer;
}

.gear-stalls {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 26px;
  left: 260px;
}

.light .abs {
  width: 17px;
  height: 20px;
  position: absolute;
  top: 103px;
  left: 75px;
  background: url('./images/3.png') no-repeat;
  background-size: contain;
}

.light .airbag {
  width: 10px;
  height: 12px;
  position: absolute;
  top: 40px;
  left: 280px;
  background: url('./images/4.png') no-repeat;
  background-size: contain;
}

.light .parking {
  width: 10px;
  height: 12px;
  position: absolute;
  top: 28px;
  left: 280px;
  background: url('./images/5.png') no-repeat;
  background-size: contain;
}

.close {
  opacity: 1;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  line-height: 20px;
  width: 24px;
  height: 24px;
  position: absolute;
  font: 30px "microsoft yahei";
  right: 0px;
  top: 0px;
  color: #f1a703;
}

.qudianjifault {
  background-image: url(./images/1.png);
  background-size: 100% 100%;
  width: 36px;
  height: 14px;
  position: absolute;
  left: 185px;
  top: 100px;
  z-index: 10;
}

.resfault {
  background-image: url(./images/resfault.png);
  background-size: 100% 100%;
  width: 100px;
  height: 11px;
  position: absolute;
  left: 152px;
  top: 104px;
  z-index: 10;
}
