/*控制面板*/

.gear-wrap {
  position: absolute;
  bottom: 106px;
  left: 220px;
  width: 250px;
  height: 137px;
  background: url(./images/gear_wrap.png) no-repeat;
  background-size: 100%;
  z-index: 100;
}

.gear-wrap .close {
  margin: -1px -1px 3px 23px;
}

.gear-wrap .state-wrap {
  position: absolute;
  top: -16px;
  left: -4px;
  z-index: 4;
}

.gear-wrap .state-wrap span {
  display: inline-block;
  margin: 0 5px;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000cff;
  background: #e3e4e5;
  box-shadow: #6d6a6a -1px -2px 2px inset;
  margin-top: 40px;
  margin-right: 7px;
  &:nth-child(1) {
    margin-left: 37px;
  }
}

.gear-wrap .state-wrap span.active {
  background: #666668;
}

.gear-switch {
  position: absolute;
  top: 40px;
  left: 36px;
  width: 80px;
  height: 66px;
  background: url(./images/gear_switch.png) no-repeat;
  background-size: 100%;
  transform: rotate(-44deg);
  background-position: center;
}

.gear-accelerator {
  position: absolute;
  top: 35px;
  left: 207px;
  width: 20px;
  height: 95px;
}

.gear-brake {
  position: absolute;
  top: 35px;
  left: 138px;
  width: 44px;
  height: 29px;
  background: url(./images/gear_brake.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.gear-accelerator .accelerator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 33px;
  background: url(./images/gear_accelerator.png) no-repeat;
  background-size: 100%;
}

.data-show {
  position: absolute;
  top: 13px;
  left: 202px;
  width: 40px;
  height: 30px;
  font-size: 18px;
  color: #000;
}

.close {
  opacity: 1;
  position: absolute;
  top: 2px;
  right: 7px;
  width: 14px;
  height: 24px;
  font: 30px "microsoft yahei";
  line-height: 20px;
  color: #f1a703;
  cursor: pointer;
}
