$headings: (".structor-6-span-1": 2em, h2: 1.5em, h3: 1.2em);
@each $header,
$size in $headings {
    #{$header} {
        font-size: $size;
    }
}

@for $i from 1 through 3 {
    .item-#{$i} {
        width: 2em * $i;
    }
}