.com-button {
  position: absolute; // width: 200px;
  // height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  span {
    letter-spacing: normal;
  }
  div {
    display: none;
  }
}

div {
  &:hover {
    background-color: #0886ae !important;
  }
}
