.com-txt {
    position: absolute;

    min-width: 10px;
    min-height: 12px;

    // width: 200px;
    // height: 200px;
    span {
        letter-spacing: normal;

    }
    div {
        display: none;
    }
}
