@charset 'utf-8';
$fontSize12:12px;
$fontSize14:14px;
$fontSize16:16px;
$fontSize18:18px;
/*
    嵌套规则
*/

.header {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0 auto;
    background-color: antiquewhite;
    .header-instructions {
        width: 100%;
        height: 100%;
        /*
            属性嵌套
        */
        font: {
            family: 'fantasy';
            size: $fontSize18;
            weight: normal;
        }
    }
    /*
            父级选择器
        */
    &:hover {
        color: bisque;
        background-color: tan;
    }
}