.dropup {
  button {
    width: 100%;
  }
  ul {
    li {
      a {
        &:hover {
          background-color: red;
          cursor: pointer;
        }
      }
    }
  }
}

.caret {
  position: absolute;
  top: 0.15rem;
  right: 0.1rem;
}
