
<div class="com-button" [ngStyle]="setStyle()" halo [halo]="data?.currentState?.animation?.animationOnID" [ficker1]="data?.currentState?.animation?.animationOnID" [ficker2]="data?.currentState?.animation?.animationOnID" *ngIf="!(data.currentStyle?.display==='none')">

    <ng-template [ngIf]="!data?.textArray">
        <span *ngFor="let item of data?.currentState?.textArray" [ngStyle]="setTextStyle(item)"><br *ngIf="item?.isLF">{{item?.content}}</span>
    </ng-template>
    <div class="tip">
        已选部件和此部件可以同时更换
    </div>
</div>


