<!-- <a routerLink="/tables" [routerLinkActive]="['router-link-active']" class="">tables</a>
<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="">dashboard</a>
<a routerLink="/firstPage" [routerLinkActive]="['router-link-active']" class="">firstPage</a>
<a routerLink="/test01" [routerLinkActive]="['router-link-active']" class="">test01</a>
<a routerLink="/crisis-center" [routerLinkActive]="['router-link-active']" class="">crisis-center</a>
<a routerLink="/home" [routerLinkActive]="['router-link-active']" class="">home</a>
<button>点我post上传jquery的</button> -->
<div style='width:1024px;height:500px;'>
  <router-outlet></router-outlet>
</div>
